In [3]:
import pandas as pd
data=pd.read_csv("/home/premnath/Desktop/Hi...!!/ML/datasets/categorical/microsoft/anonymous-msweb.data",low_memory=False)
df=pd.DataFrame(data[6:])
df.head(15)
df=df[['I', '4', 'www.microsoft.com']]
df.head(15)
df['www.microsoft.com'].unique().size

295

In [4]:
type(data)

pandas.core.frame.DataFrame

In [6]:
df

             I                                4 www.microsoft.com
A 1287       1          International AutoRoute        /autoroute
  1288       1                          library          /library
  1289       1  Master Chef Product Information       /masterchef
  1297       1                  Central America         /centroam
  1215       1         For Developers Only Info        /developer
...        ...                              ...               ...
V 1035       1                              NaN               NaN
  1001       1                              NaN               NaN
  1018       1                              NaN               NaN
C 42711  42711                              NaN               NaN
V 1008       1                              NaN               NaN

[131659 rows x 3 columns]